<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <div>
      <h2><%= blog.title %></h2>
      <div>
        <p class="underline bg-red-500"><%= blog.body %></p>
      </div>
      <a class="delete" data-doc="<%=blog._id %>">
        <img src="/trashcan.svg" alt="delete icon" />
      </a>
    </div>
  </body>
</html>
